body{
    margin: 0;
    padding: 0;
}
.NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.navLink{
display: inline-block;
width: 33.33%;
display: flex;
    justify-content: center;
    gap: 20px;

}
.product:hover , .inspiration:hover , .pricing:hover,.resources:hover{
color: blue;
cursor: pointer;
text-decoration: underline;
}
.product:hover{
    color:blue;
 
}
.resources:hover{
 
}
.inspiration:hover{

}
.pricing:hover{

}
.navLink{

}
.mailchimplogo{
    
}
.navLink{

}
.login , .startFreeTrial{
    border: 8px;
    border-style: solid;
    border-color: #912828;
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 12px 18px;
    border-radius: 17px;
    height: 18px;
}
.login:hover , .startFreeTrial:hover{
    border: 3px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}
.startFreeTrial{
    /* border: 2px;
 border-style: solid;
 border-color: black;
  */

}
/* container styling */
.NavBar{

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainer{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    font-size: larger;
    text-align: center;
}
.subContainer > .content{

}

.startFreeBtnContainer{
    display: flex;
}
.startFreeBtnContainer > button{
    border-radius: 15px;
    padding: 15px;
    padding: 10px 15px;
    outline: none;
}

.startFreeBtnContainer > button:hover{
    border: 3px solid black;
    border-top: 2px solid black;
    cursor: pointer;
}

/* card container */
.cardContainer{
    display: flex;
    margin: 18px 0;
}
.card{
    display:flex;
    flex-direction: column;
    width: 25%;
}
.cardTopContainer{
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 400px;
    justify-content: center;
}
.cardHeading{
    font-size: larger;
    font-family: cursive;
    font-weight: 700;
}
.cardBottomContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0;
}
.cardBottomContainer > button{
    width: fit-content;
    /* display: flex; */
    padding: 10px 20px;
    border-radius: 11px;
    border: 1px solid black;
    background: transparent;
}
.cardDescription{
    font-size: larger;
    text-align: center;
    padding: 0 8px;
    font-style: italic;
}
.bg_automation{
    background-image: url('/public/images/Desktop_Feature_Cards_1_Automations.webp');

}
.bg_analytics{
    background-image: url('/public/images/Desktop_Feature_Cards_2_Analytics.webp');

}
.bg_segmentation{
    background-image: url('/public/images/Desktop_Feature_Cards_3_Segmentation.webp');

}
.bg_integration{
    background-image: url('/public/images/Desktop_Feature_Cards_4_Integrations.webp');

}
.bg_brown_600{
    background-color: #d99536;
}
.bg_brown_400{
    background-color: #e7b75f;
}
.bg_brown_200{
    background-color: #fdf8ea;
}
.bg_brown_100{
    background-color:#ffffff ;
}
/* business Card container */
.__CardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.ContentCard{
   width: 49.5%;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{

}
.content{
    padding: 20px 12px;
    font-size: 24px;
    /* /* text-align: center; */
}
.__btn{
    border: none;
    padding: 15px 7px;
    border-radius: 12px;
    background-color: bisque;
}
.ImageCard{
  width: 49.5%;
}
._Img{
    width:100%;
}
._Img > img{
    width:100%;
    
}

.marketingCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.marketingContentCard{
    width: 49.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marketingContent{
    padding: 30px 0px;
    font-size: larger;
}
.startTargeting{
    border: 2px solid black;
    padding: 15px 7px;
    border-radius: 12px;
    background-color: burlywood;
}
.marketingImageCard{

width: 49.5%;
}
 .marketingImageCard > img{
    width: 100%;
 }     
 .cutomerContainer{
  
    display: flex;
    flex-direction: row;
 }
 .cutomerImageContainer{
    width: 49.5%;
 }
 .customerImageContainer > img{
    width: 100%;
 }
 .customerContentContainer{
    width: 49.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .customerContent{
    padding: 30px 0px;
    font-size: larger;
    width: 100%;
 }
 .startOptimizing{
    border: 2px solid black;
    padding: 15px 7px;
    border-radius: 12px;
    background-color: burlywood;
 }
 .row_reverse{
    flex-direction: row-reverse;
 }
 /* multiCard Container .*/
 .__multiCardContainer{
    display: flex;
    flex-direction: column;
 }
.cardHeading{
    
}
.cardBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
._card{
    width:33.3%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.imgContainer{
    
}
.imgContainer > img{
    
}
._contentContainer{
    
}
._contentHeading{
    
}
.content{
    
}
 .maincontainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 238, 202, 1);
 }
.heading1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 64px;
    padding: 15px;
    margin: 12px auto;
}
.paragraph{
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 15px;
    width: 50%;
    text-align: center;
    margin: 12px auto;
}
.button{
 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 15px 7px;
    background-color: rgba(255, 224, 27, 1);
}
.disclaimer{
background-color: #efeeea;
padding: 12px;
}
.disclaimer_heading{

}
.disclaimer_Ol{

}
.disclaimer_Ol > li{

}

